<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0"
        id="br.dotter.geolocation"
        version   = "1.0.0">
		
    <name>Geolocation_speed</name>
    <description>
        Geolocation_speed
    </description>
	
	<author href="http://www.dotter.com.br" email="eduardo@dotter.com.br">
    Dotter do Brasil Ltda
    </author>
	
	<gap:plugin name="com.jmi2.cordova.geolocation" version="0.3.15" />
    <gap:plugin name="org.apache.cordova.device" />
		
	<preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />
	<preference name="permissions" 		value="none"/>
	
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />   
</widget>